<%# locals: ( workout: ) %>

<div class="relative overflow-y-auto h-full min-h-screen bg-gray-100">
  <%= form_with model: workout, url: workout_path(workout) do |f| %>
    <%= render "workouts/complete_workout_header", form: f %>

    <div class="main-container max-w-2xl">
      <%= render 'shared/clearable_input' do %>
        <%= f.text_field :name, placeholder: "Workout title", class: "form-input-borderless font-medium pr-8", data: { clearable_input_target: "input", action: "input->clearable-input#changed" } %>
      <% end %>
    </div>
  <% end %>
</div>