<div class="bg-white rounded-lg shadow p-6 text-center">
  <p class="text-gray-600 mb-4">You haven't logged any workouts yet.</p>
  <%= link_to "Create Your First Workout", new_workout_path, class: "btn btn-primary" %>
</div>