<div id="exercises-empty-state">
  <div class="flex flex-col items-center justify-center text-center text-muted font-normal py-6">
    <%= inline_svg_tag "pictograms/yoga-ball.svg", class: "w-24 h-24 mb-3 fill-current" %>
    <div class="text-base">Add an exercise to your workout to get started.</div>
  </div>
</div>