<div class="space-y-4" data-form-target="fields">
  <%= f.select :exercise_id, current_user.exercises.map { |i| [i.name, i.id] }, include_blank: "Select Exercise" %>
  <%= f.check_box :_destroy, title: "Check to delete exercise", data: { action: 'click->form#hide'} %>
</div>