<%= turbo_stream.update "modal" do %>
  <div data-controller="modal">
    <%= render "shared/modal" do %>
      <h2 class="text-lg font-semibold mb-4">Edit Workout Details</h2>
      <%= render "form", workout: @workout %>
  <% end %>
  </div>
<% end %>