<%= form_with model: @routine, html: {
  class: "flex flex-col gap-y-4",
  data: {
    # controller: "autosave",
    # "autosave-model-value": "routine",
    # "autosave-url-value": routine_path(@routine),
    # "autosave-debounce-value": 500,
    # "autosave-method-value": "PATCH"
  }
} do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "Routine Title", class: "form-input" %>
  </div>
<% end %>