<%# locals: ( target_id: nil ) %>

<div data-controller="dialog" data-action="click->dialog#backdropClose">
  <dialog data-dialog-target="dialog" class="p-4 rounded-lg bg-surface dark:text-white">
    <button type="button" class="absolute top-4 right-4 p-1 hover:bg-surface-hover rounded-lg" data-action="click->dialog#close">
      <%= inline_svg_tag "icons/x.svg", class: "h-6 w-6" %>
    </button>
    <h3 class="font-medium text-lg mb-4">Remove Exercise</h3>
    <p class="mb-2">Are you sure you want to remove this exercise?</p>
    <div class="flex items-center justify-end gap-x-2">
      <button type="button" class="btn btn-tertiary" data-action="dialog#close">Cancel</button>
      <button type="button" data-target-id="<%= target_id %>" class="btn btn-primary" data-action="click->nested-exercise-select-form#remove click->workout-form#removeExercise click->bottom-sheet#close dialog#close">
        Ok
      </button>
    </div>
  </dialog>
  <button type="button"
          data-action="dialog#open"
          class="w-full flex items-center gap-x-3 p-3 rounded-lg hover:bg-body text-red-600 hover:text-red-800">
    <%= inline_svg_tag "icons/trash.svg", class: "h-6 w-6" %>
    <span class="font-medium">Remove exercise</span>
  </button>
</div>