<% right_content = capture do %>
  <button type="submit" class="link link-primary pointer-events-none cursor-not-allowed" disabled>
    Create
  </button>
<% end %>

<%= render "shared/sticky_header",
           id: "exercise-select-sticky-header",
           title: "Select an Exercise",
           right_content: do %>
  <div class="w-full px-4 pb-4 md:max-w-2xl mx-auto">
    <%= render 'exercises/search_form' %>
  </div>
<% end %>