<div id="exercise-select-mobile-header" class="z-50 shadow-md bg-gray-100 sticky top-0 w-full">
  <div class="max-w-2xl lg:max-w-4xl mx-auto flex items-center justify-between p-4">
    <button type="button" class="link link-primary" data-action="modal#close">
      Cancel
    </button>
    <h2 class="text-lg lg:text-2xl font-semibold">Select an Exercise</h2>
    <button type="submit" class="link link-primary pointer-events-none cursor-not-allowed" disabled>
      Create
    </button>
  </div>
  <div class="flex flex-col items-center justify-center w-full px-4 pb-4 md:max-w-2xl mx-auto">
    <%= form_with url: exercises_path, method: :get, data: { controller: "search", search_target: "form", turbo_stream: true }, class: "relative flex gap-2 w-full" do |f| %>
      <%= inline_svg("icons/search.svg", class: "absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-gray-400 z-50") %>
      <%= render 'shared/clearable_input' do %>
        <%= f.text_field :search,
                         value: params[:search],
                         placeholder: "Search exercises...",
                         autocomplete: :off,
                         data: { action: "search#onInput input->clearable-input#changed", search_target: "input", clearable_input_target: "input" },
                         class: "form-input pl-9 md:pl-10" %>
      <% end %>
    <% end %>
  </div>
</div>