<% right_content = capture do %>
  <button type="submit" class="link link-primary pointer-events-none cursor-not-allowed" disabled>
    Create
  </button>
<% end %>

<%= render "shared/sticky_header",
           id: "exercise-select-sticky-header",
           title: "Select an Exercise",
           right_content: right_content do %>
  <%= render 'exercises/search_form' %>
<% end %>