<%= turbo_stream.update "modal" do %>
  <div data-controller="modal">
    <%= render "shared/page_modal" do %>
      <%= render "routine_exercises/exercise_select", exercises: @exercises %>
    <% end %>
  </div>
<% end %>