<%= turbo_stream.update "modal" do %>
  <div data-controller="modal">
    <%= render "shared/modal" do %>
      <h2 class="text-lg font-semibold mb-4">Add Exercise</h2>
      <%= render "form" %>
    <% end %>
  </div>
<% end %>