<%# Modal backdrop %>
<div class="hidden md:block fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" data-action="click->modal#close"></div>

<div class="fixed inset-0 z-50 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div id="exercise-select-mobile-header" class="z-50 mb-6 border-b border-gray-300 fixed bg-white w-full md:hidden">
    <div class="max-w-2xl mx-auto flex items-center justify-between p-4">
      <button type="button" class="link link-primary md:hidden" data-action="modal#close">
        Cancel
      </button>
      <h2 class="text-lg font-semibold">Select an Exercise</h2>
      <button type="submit" class="link link-primary pointer-events-none cursor-not-allowed" disabled>
        Create
      </button>
    </div>
  </div>
  <div class="md:flex min-h-full md:justify-center md:text-center md:items-center">
    <div data-modal-target="container" class="relative transform overflow-y-auto h-screen md:h-[36rem] md:rounded-lg rounded-none bg-gray-100 mx:px-4 mx:pb-4 md:pt-5 text-left shadow-xl transition-all md:my-8 md:w-full md:max-w-2xl md:p-6">
      <div class="absolute right-0 top-0 hidden pr-4 pt-4 md:block">
        <button type="button"
                class="rounded-md bg-gray-100 text-gray-400 hover:text-gray-500 focus:outline-none"
                data-action="modal#close">
          <span class="sr-only">Close</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>

      <%= yield %>
    </div>
  </div>
</div>