<%# locals: ( workout: ) %>
<div class="flex items-center w-full">
  <div class="w-1/2 flex justify-center">
    <%= link_to edit_workout_path(workout), class: "rounded-xl text-sm px-3 py-1 flex items-center gap-x-2 text-primary hover:bg-primary/10" do %>
      <%= inline_svg "icons/play.svg", class: "w-3 h-3 fill-current" %>
      <span class="text-sm">Resume</span>
    <% end %>
  </div>
  <div class="w-1/2 flex justify-center">
    <%= render "layouts/active_workout_indicator/discard_workout_dialog", workout:, turbo: true %>
  </div>
</div>
