<%# locals: ( workout:, show_label: true ) -%>
<div class="flex items-center gap-2">
  <% if show_label %>
    <span class="text-xs text-muted-light hidden lg:inline">Elapsed:</span>
  <% end %>

  <%= render 'workouts/workout_timer', workout: %>
</div>
