<div id="<%= dom_id workout_type %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= workout_type.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this workout type", workout_type, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this workout type', edit_workout_type_path(workout_type), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
