@import url('base.tailwind.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-container {
    @apply flex-grow container mx-auto px-4 py-6
  }

  .form-label {
    @apply block text-sm font-medium text-gray-700 mb-1;
  }

  .form-input {
    @apply w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 p-2;
  }

  .form-input-borderless {
    @apply w-full bg-transparent placeholder:text-muted-light border-gray-300 dark:border-neutral-500 border-b focus:outline-none p-2
  }

  .form-input-tr {
    @apply focus:outline-none text-left pl-2 bg-transparent;
  }

  input.number-to-text::-webkit-outer-spin-button,
  input.number-to-text::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number].number-to-text {
    -moz-appearance: textfield;
  }

  .form-muted-label {
    @apply mt-1 text-sm text-gray-500;
  }

  .text-primary {
    @apply text-indigo-600;
  }

  .btn {
    @apply inline-block px-4 py-2.5 rounded-lg cursor-pointer font-medium text-sm text-center;
  }

  .btn-icon {
    @apply inline-flex items-center justify-center gap-x-1.5;
  }

  .btn-lg {
    @apply inline-block px-6 py-3 rounded-lg cursor-pointer text-lg;
  }

  .btn-primary {
    @apply bg-primary text-white hover:bg-primary-hover;
  }

  .btn-green {
    @apply bg-emerald-600 text-white hover:bg-emerald-700;
  }

  .btn-secondary {
    @apply bg-indigo-100 text-indigo-700 hover:bg-indigo-200;
  }

  .btn-tertiary {
    @apply bg-gray-200 hover:bg-gray-300 text-black dark:bg-neutral-800 dark:text-neutral-200 dark:hover:bg-neutral-700;
  }

  .btn-danger {
    @apply bg-red-600 text-white hover:bg-red-700;
  }

  .link {
    @apply transition duration-150 ease-in-out hover:underline focus:underline;
  }

  .link-muted {
    @apply link text-muted hover:text-muted-hover focus:text-muted-focus;
  }

  .link-primary {
    @apply link text-primary-text hover:text-primary-hover focus:text-primary-focus;
  }

  .pill {
    @apply flex items-center gap-x-1.5 text-sm px-3 py-1 rounded-xl font-medium shadow;
  }

  .pill-sm {
    @apply flex items-center gap-x-1 text-xs px-2.5 py-1 rounded-lg font-medium shadow;
  }

  .pill-primary {
    @apply bg-primary-light text-primary;
  }

  .field_with_errors > .form-input {
    @apply border-red-500 bg-red-50 placeholder-red-300 focus:border-red-600 focus:ring-red-500;
  }
}