@import url('base.tailwind.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-container {
    @apply flex-grow container mx-auto px-4 py-6
  }

  .form-label {
    @apply block text-sm font-medium text-muted mb-1;
  }

  .primary-focus {
    @apply focus:outline-none focus:ring-2 focus:ring-primary-ring focus:border-primary;
  }

  .form-input {
    @apply w-full rounded-lg placeholder:text-muted-light bg-surface-secondary shadow-sm p-2 primary-focus;
  }

  .form-input-borderless {
    @apply w-full bg-transparent placeholder:text-muted-light border-surface-secondary border-b-2 focus:outline-none p-2
  }

  .form-input-tr {
    @apply focus:outline-none text-left pl-2 bg-transparent;
  }

  input.number-to-text::-webkit-outer-spin-button,
  input.number-to-text::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number].number-to-text {
    -moz-appearance: textfield;
  }

  .form-muted-label {
    @apply mt-1 text-sm text-gray-500;
  }

  .text-primary {
    @apply text-indigo-600;
  }

  .btn {
    @apply inline-block px-4 py-2.5 rounded-lg cursor-pointer font-medium text-sm text-center primary-focus;
  }

  .btn-compact {
    @apply inline-block px-3 py-1.5 rounded-md cursor-pointer text-sm text-center primary-focus;
  }

  .btn-icon {
    @apply inline-flex items-center justify-center gap-x-1.5;
  }

  .btn-lg {
    @apply inline-block px-6 py-3 rounded-lg cursor-pointer text-lg;
  }

  .btn-primary {
    @apply bg-primary text-white hover:bg-primary-hover active:bg-primary-hover;
  }

  .btn-green {
    @apply bg-emerald-600 text-white hover:bg-emerald-700;
  }

  .btn-secondary {
    @apply border border-secondary text-secondary bg-secondary-light hover:bg-secondary-light-hover focus:ring-2 focus:ring-secondary;
  }

  .btn-tertiary {
    @apply bg-gray-200 hover:bg-gray-300 dark:bg-surface-secondary dark:hover:bg-surface-secondary-hover dark:active:bg-surface-secondary-hover;
  }

  .btn-danger {
    @apply bg-red-600 text-white hover:bg-red-700;
  }

  .text-danger {
    @apply text-red-600 dark:text-red-500;
  }

  .text-danger-hover {
    @apply text-red-800 dark:text-red-400;
  }

  .link {
    @apply transition duration-75 ease-in-out hover:underline focus:underline focus:outline-none;
  }

  .link-muted {
    @apply link text-muted hover:text-muted-hover focus:text-muted-focus;
  }

  .link-primary {
    @apply link text-primary-text hover:text-primary-text-hover focus:text-primary-text-hover;
  }

  .pill {
    @apply flex items-center gap-x-1.5 text-sm px-3 py-1 rounded-xl font-medium shadow;
  }

  .pill-sm {
    @apply flex items-center gap-x-1 text-xs px-2.5 py-1 rounded-lg font-medium shadow;
  }

  .pill-primary {
    @apply bg-primary-light text-primary;
  }

  .field_with_errors > .form-input {
    @apply border-red-500 bg-red-50 placeholder-red-300 focus:border-red-600 focus:ring-red-500;
  }
}