<div class="max-w-2xl mx-auto">
  <h1 class="text-2xl font-bold mb-6">Add Set for <%= @exercise_log.exercise.name %></h1>
  
  <div class="bg-white rounded-lg shadow p-6">
    <%= render "form" %>
  </div>
</div> 