<% content_for :all_equipment_trigger do %>
  <button type="button" class="btn btn-tertiary btn-sm flex items-center justify-center gap-x-2 w-full"
          data-action="click->bottom-sheet#open">
    <%= inline_svg_tag "icons/filter.svg", class: "w-4 h-4" %>
    All Equipment
  </button>
<% end %>

<%= render "shared/bottom_sheet", trigger: :all_equipment_trigger, title: "Equipment" do %>
  <div>
    <% Exercise.equipment_types.each do |name, value| %>
      <button type="button"
              class="w-full text-left px-4 py-3 hover:bg-gray-100 rounded-lg flex items-center gap-x-3"
              data-action="click->exercise-selector#filterByEquipment"
              data-exercise-selector-equipment-id-param="<%= value %>">
        <%#= inline_svg_tag c.icon_path, class: "w-5 h-5" %>
        <span><%= name.titleize %></span>
      </button>
    <% end %>
  </div>
<% end %>