<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Exercises</h1>
    <%= link_to 'New exercise', new_user_exercise_path(current_user), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="exercises" class="min-w-full">
    <%= render @exercises %>
  </div>
</div>
